# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# .NET Build outputs
bin/
obj/
*.dll
*.pdb

# Rider specific files
.idea/
*.iml

# Visual Studio Code settings
.vscode/

# User-specific files
*.user
*.rsuser
*.suo

appsettings.Development.json
appsettings.Local.json
appsettings.json
secrets.json
# SQL Server files
*.mdf